#a1,#a2,#a3{
    height: 400px;
}
#b1{
    height: 500px
    background-color: white;
margin-top: 20px;
}

#b12{
    background-color:white;
    height: 488px;
    margin-left: 10px;
    width: 630px;
    margin-top: 60px;

    padding: 50px;
    
}
#b2200{
    background-color:white;
    height: 550px;
    left: 50%;
    width: 600px;
    position: absolute;
    margin-top: 0px;
    margin-left:20px ;
}
#d1{
    width: 100%;
    height: 580px ;
    margin-top: -56px:
}
#d61{ width: 100%;
    height: 580px ;
    

}
#d62{
    margin-top: 20px;
}
#d63{
    text-align: justify;
    width: 100%;
}
#d64{
    margin-left: 630px;
    margin-top:-72px;
}
h2{
    color: brown;

}
#q1{
    width: 100%;
}
h5{
    color:rgb(173, 125, 218);
}
#n1{
    width: 150px;
    height: 60px;
    color: white;
    background-color: brown;
    border-radius: 40px;
    border: solid 2px brown;
    font-weight: bolder;
    left:10%;
    
    
    
}
#n2{  width: 150px;
    height: 60px;
    color: white;
    background-color: brown;
    border-radius: 40px;
    border: solid 2px brown;
    font-weight: bolder;
    left:10%;
    margin-top: 392px;
    margin-left: 583px;
    

}
#n1:hover{
    background-color: white;
    color:brown;
    font-weight: bolder;
}
#d71:hover{color: brown;

}
#g1{
    font-weight:400;
    text-align: justify;
    width: 100%;
}
#v7{
    background-color:brown;
    
}
#d91{
    margin-top: 10px;
}
#p1{
    padding-left: 600px;
    color: white;
    font-size: small;
}
#p2{
    padding-left: 50px;
    color: white;
    font-size: small;
}
h1{
    
    text-align: left;
    

    
}
p{
    text-align: left;
    width: 60%;
    
    
}
#y1{
    padding-top: 20px;
}
k1{
    position: relative;
}
#n2{
    left: 10%;
    position: absolute;
}
#m1{
    position: absolute;
    top: -250px;
}
#m3{
    position: absolute;
    margin-left: 100px;
    margin top: 20px;
}
#m2{
    position: absolute;
    top :-120px;
}
#d81{
    background-color: brown;
    height: 500px;
}
#d82{
    font-size: 70px;
    text-align: center;
    margin-top: 100px;
color: white;
}
#d83{
    margin-top: 20px;
}
#d100{height: 70px;
    width: 170px;
    border: solid 4px white;
    border-radius:30px ;
background-color: brown;
color: white;
font-weight: bold;
}
#d121:HOVER{background-color: white;
color: brown;
}
#d121{
    height: 70px;
    width: 170px;
    border: solid 4px white;
    border-radius:30px ;
background-color: brown;
color: white;
font-weight: bold;
margin-top: 20px;
}
#d101{
    margin-left: 300px;
}
#d102{
    height: 300px;
    background-color:white;
    display:.d-flex;
    justify-content: space-evenly;
    align-items: center;

}
#d103{
    background-color:white;
    height: 250px;
    width: 300px;
}
#d104{
    background-color:white;
    height: 250px;
    width: 300px;
    padding: 40px;
}
#d105{
    background-color: white;
    height: 250px;
    width: 300px;
}
#d111{
    margin-top: 50px;
}
#z10{
    width: 80%;
    height: 100px;
}
#z11{
    width: 80%;
    height: 100px;
}
#z12{
    width: 80%;
    height: 100px;
}
#z13{
    height: 60px;
    background-color: white;
    text-align: center;
}
#z14{
    text-align: center;
    color: brown;
    margin-top: 20px;
    font-family: sans-serif;
}
#z15{
    color: brown;
}
#d140,#d142,#d144{
    color: brown;
    font-weight: bold;
}
#d141,#d143,#d145{
    color:brown;
    font-weight: bold;
}
#d146,#d150,#d155{
    color: red;
    font-size:larger;
    font-weight: bold;
}
#d147,#d148,#d149{
   font-size: 30px;
    color: brown;
}
#d151,#d152,#d153,#d154,#d156,#d157{
    color: brown;
    font-weight: bold;
}
#d105{
    padding: 20px;
}
#d154:hover{
    color: blue;
}
#d153:hover{
    color: blue;
}
#d152:hover{
    color: blue;
}
#d151:hover{
    color: blue;
}
@media screen and (max-width: 800px)
    



